@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00060F;
  --foreground: #ededed;

  font-family: var(--font-poppins), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #00060F;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif; 
}
